<!DOCTYPE html>
<html lang="es">
<head>

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>Lujuria University</title>
<subtitle>Tomale Captura</subtitle>

<link rel="stylesheet" href="{{ url_for('static', filename='css/pase.css') }}">

</head>


<body>
<div class="bg-left"></div>
<div class="bg-right"></div>

<div class="page">

<h1 class="title">LUJURIA UNIVERSITY</h1>


<div class="card-container">

<div class="card">

<!-- FRENTE -->

<div class="card-front {% if genero == 'Lgtbi+' %}card-lgtbi{% endif %}">

<img src="{{ url_for('static', filename=foto) }}" class="foto">

<h2 class="nombre">{{nombre}}</h2>
<h2 class="edad">{{edad}}</h2>

{% if edad == "15-17" %}

    <p style="color:red;">ADMISIÓN DENEGADA</p>
    <p style="color:red;">Acceso restringido 🔞</p>

{% else %}

    <p class="grado">Doctorado en Sex</p>
    <p class="fecha">4 de Abril</p>

{% endif %}


</div>


<!-- ATRAS -->

<div class="card-back {% if genero == 'Lgtbi+' %}card-lgtbi{% endif %}">

<img src="{{ url_for('static', filename='images/logo505.png') }}" class="logo-505">    
{% if edad == "15-17" %}

    <h2 style="color:red;">ADMISIÓN DENEGADA</h2>
    <p style="color:red;">Acceso restringido 🔞</p>

{% else %}

    <h2>ADMISIÓN CONFIRMADA</h2>
    <p>La Casa del Pecado</p>
    <p>feat. BONY LEON</p>

{% endif %}

</div>

</div>

</div>


<button onclick="location.href='/'" class="btn-home">
Volver al Inicio
</button>


</div>

<script src="{{ url_for('static', filename='js/carousel2.js') }}"></script>
<script src="{{ url_for('static', filename='js/pase.js') }}"></script>
<audio id="music" autoplay loop>
    <source src="{{ url_for('static', filename='audio/Latigazo.mp3') }}" type="audio/mp3">
</audio>
</body>
</html>